.filter {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 999px;
  background: var(--yellow);
  color: var(--black);
}
